.Burger {
    width: 100%;
    max-width: 600px;
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}